.DS_Store
node_modules/
.env
*.log
.vscode/
.idea/
__pycache__/
*.pyc
.venv/
free_goods_detail_part1.json
free_goods_detail_part2.json
free_goods_kz_detail_part1.json
free_goods_kz_detail_part2.json
free_goods_ru_detail_part1.json
free_goods_ru_detail_part2.json
